<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friend</title>
</head>

<body>
  <h2>Friend</h2>
  <h3>My Friend List</h3>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Nick Name</th>
      <th>Github Pages</th>
    </tr>
    <tr>
      <td>Wuttichai</td>
      <td>Homnana</td>
      <td>Tonyong</td>
      <td>
        <a href="#">Lab02</a>
        <a href="#">Lab03</a>
      </td>
    </tr>
    <tr>
      <td>Chongkhom</td>
      <td>Rachwangmueng</td>
      <td>Pranai</td>
      <td>
        <a href="#">Lab02</a>
        <a href="#">Lab03</a>
      </td>
    </tr>
  </table>
</body>

</html>
