<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status</title>
</head>

<body>
  <div class="information">
    <label>
      <h2>Status</h2>
    </label><br>
    <table>
      <tr>
        <td><label>
            <b class="data">Current Time</b>
          </label></td>
        <td class="cl">::</td>
        <td><span> {{current_time}}</span></td>
      </tr>
      <tr>
        <td><label>
            <b class="data">User Agent</b>
          </label></td>
        <td class="cl">::</td>
        <td><span>{{user_agent}}</span></td>
      </tr>
      <tr>
        <td><label>
            <b class="data">Languages</b>
          </label></td>
        <td class="cl">::</td>
        <td><span>{{languages}}</span></td>
      </tr>
      <tr>
        <td><label>
            <b class="data">Is Cookie Enagled?</b>
          </label></td>
        <td class="cl">::</td>
        <td><span>{{cookie}}</span></td>
      </tr>
      <tr>
        <td><label>
            <b class="data">Logical Processors</b>
          </label></td>
        <td class="cl">::</td>
        <td><span>{{logical}}</span></td>
      </tr>
      <tr>
        <td> <label>
            <b class="data">Max Touch Points</b>
          </label></td>
        <td class="cl">::</td>
        <td><span>{{max_touch}}</span></td>
      </tr>
    </table>

  </div>
</body>

</html>
