<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My-Ng</title>
</head>

<body>
  <h1>{{ title }}</h1>

  <nav class="navbar">
    <a routerLink="./hello-world" routerLinkActive="st-active">Hello World</a>
    <a routerLink="./profile" routerLinkActive="st-active">Profile</a>
    <a routerLink="./friend" routerLinkActive="st-active">Friend</a>
    <a routerLink="./status" routerLinkActive="st-active">Status</a>
  </nav>
  <router-outlet></router-outlet>
</body>

</html>
