<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>

<body>
  <div class="profile">
    <h2>My Profile</h2>
    <h3>Basic Information</h3>
    <ul>
      <li> <b> Name</b>: Doolyawit Yodkaew</li>
      <li><b>Gender</b>: Male</li>
      <li><b>Age</b>: 22</li>
    </ul>
  </div>
  <div class="bio">
    <h2>Autobiography</h2>
    My name is Doolyawit Yodkaew my nickname is Diw. I'm 22 years old. I was born in Lamphun, Thailand, on 28 august
    2001 favorite color is yellow and green. I am studying in the MMIT program college of art media and technology at
    Chiang Mai university.
  </div>
  <div class="git">
    <h2>Github Pages</h2>
    <a href="https://camt-mmit.github.io/2022_02-954447-001-week-02-dom-and-javascript-diwx149">Lab02</a>
    <a href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-diwx149/">Lab03</a>
  </div>

</body>

</html>
